
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Selectlist", FormMethod.Get)) {
           
   
    @*@foreach (SelectListItem li in ViewBag.Countries)
    {<select id="countries" name="countries">
        <option value="@li.Value"> @li.Text</option>
        </select>
    }*@ 

    @Html.DropDownList("Countries","Chose Country")

    <input type="submit"  value="Show Country code"/>
} 
<strong>Country code: </strong>@ViewBag.CountryCode
@*@if (ViewBag.CountryCode != null)
    {
        @Html.Partial("_test")
        <strong>Country code: </strong>@ViewBag.CountryCode
    }*@




